<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class='comment-contents'>
     <h2 class='title'></h2>
     <%= link_to '投稿一覧', "new_item_path", class: "subtitle" %> 

      <ul class='item-lists'>
        <% @comments.each do |comment| %>
          <li class='list'>
          <%= link_to comment_path(comment.id) do  %>
           <%# <%= image_tag comment.image.variant(resize:'500x500'), class: 'message-image' if comment.image.attached?%> %>
             <div class='item-img-content'>
            </div>
            <div class='comment-info'>
             <h3 class='comment-name'>
               <%= comment.business_name %>        
            </h3>
            <div class='item-price'>
             <span><%= comment.explanation %><br></span>
            </div>
           </div>
           
        <% end %> 
     <% end %>
     </div>
</div>