<div class="items-sell-contents">
  <header class="items-sell-header">
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">副業の情報を入力</h2>

<%= form_with model: @comment, html: {class: "form"}, local: true do |f| %>
<%# <%= render 'shared/error_messages', model: @comment %> 
   
    <%# 副業と副業説明 %>
    <div class="comment-items">
      <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          働いている所の写真をお願いします
        </p>
        <%= f.file_field :image, id:"image" %>
       </div> 
       <p>　　　　　　　
       </p>
       <div class="weight-bold-text">
        副業紹介
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :business_name, class:"comment-text", id: "business_name", placeholder:"副業名", maxlength:"40" %>
      <div class="comment-explain">
        <div class="weight-bold-text">
          副業の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explanation, class:"comment-text", id: "explanation", placeholder:"副業の説明" ,rows:"7" ,maxlength:"1000" %>
      
      <div class="sell-btn-contents">
       <%= f.submit '投稿する', class: 'form-submit' %>
       </div>
<% end %>
    
