
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @comment.business_name %>
   </h2>
    <div class='item-img-content'>
      <%= image_tag @comment.image ,class:"item-box-img" %>
        <%# <% end %> 
       <h3 class="explanation">
        <%= @comment.explanation %>
       </h3>
   </div>

    <%# <%ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %> 
    <% if user_signed_in? && current_user.id == @comment.user_id %>
     <%= link_to '編集', edit_comment_path(@comment.id), method: :get, class: "item-red-btn" %>
     <p class='or-text'>or</p>
    <%= link_to '削除', comment_path(@comment.id), method: :delete, class:'item-destroy' %>
    <% end %>
 </div>
</div> 